<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="templates/css/booker.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="col-md-2 col-md-offset-9">
    <div class="lang col-md-3">
        <form method="POST">
            <input type="submit" class="btn btn-warning" name="lang" value="en"/></form>
    </div>
    <div class="lang">
        <form method="POST">
            <input type="submit" class="btn btn-warning" name="lang" value="ru"/></form>
    </div>
</div>
<div class="monthYear col-md-2 col-md-offset-1">
    <button class="btn btn-primary" id="weekBegin">Sunday begin</button>
</div>
<div class="monthYear col-md-3 col-md-offset-1">
    <button type="button" class="btn btn-primary col-md-3" id="previous"><span class="glyphicon glyphicon-menu-left"
                                                                               aria-hidden="true"></span></button>
    <span class="col-md-6" id="monthYear"></span>
    <button type="button" class="btn btn-primary col-md-3" id="next"><span class="glyphicon glyphicon-menu-right"
                                                                           aria-hidden="true"></span></button>
</div>
<div class="col-md-9 col-md-offset-1 tableWrapper">
<table border="1" class="mainTable">
    <tbody id="calendarTable">

    </tbody>

</table>
</div>
<div class="col-md-2">
<div class="col-md-12">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary bookIt" data-toggle="modal" data-target="#myModal">
        Book It!
    </button>
</div>
<div class="col-md-12">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary employeeList" data-toggle="modal" data-target="#myModal">
        Employee List
    </button>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Book the Boardroom</h4>
            </div>
            <div class="modal-body">
                <form id='bookForm' name='bookForm' method='POST' action='index.php?page=book_ctrl'>
                    <div class="col-md-12">1. Booked for:</div>
                    <div class="col-md-4">
                    <select class="form-control">
                        <option>1</option>
                    </select>
                    </div>
                    <div class="col-md-12">2. I would like to book this meeting:</div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-12">3. Specify what the time and end of the meeting (This will be what people see on the calendar.):</div>
                    <div class="col-md-7">
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-md-12">&nbsp</div>
                    <div class="col-md-7">
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    </div>

                    <div class="col-md-12">4. Enter the specifics for the meeting (This wil be what people see when they click on an event
                        link.):</div>

                    <textarea class="form-control bookerTextArea" rows="3"></textarea>
                    <div class="col-md-12">5. Is this going to be a recurring event?</div>

                    <input id="recurring_off" type="radio" name="recurring" value='0' onClick="agreeRecurring(false)">
                    No<br/>
                    <input id="recurring_on" type="radio" name="recurring" value='on' checked
                           onClick="agreeRecurring(true)"> Yes<br/>
                    <div class="col-md-12">6. If it is recurring, specify weekly, bi-weekly or monthly.</div>
                    <input id="recursion_1" type="radio" name="recurring_result" value='7' checked
                           onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">
                    <span class="recurring"> weekly</span><br/>
                    <input id="recursion_2" type="radio" name="recurring_result" value='14' onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">bi-weekly<br/>
                    <input id="recursion_3" type="radio" name="recurring_result" value='28' onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">monthly<br/>

                    <span id="duration" name="duration" class="nonwarning">duration (max 4 weeks)</span>

                    <input id="num_duration" value='1' type="number" min="1" max="4" name="num_duration"
                           class="fielddis" maxlength="1" size="4"
                           onfocus="set_border(this);"/>

                    <input class='bookSubmit' type='submit' value='Book' name='bookIt'>
                    <input class='bookSubmit' type='reset' value='Reset'>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="templates/js/jquery-1.11.2.min.js"></script>
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="templates/libs/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>-->

<!--<script src="resourses/js/xmlhttprequest.js"></script>-->
<script src="templates/js/calendar.js"></script>
<script src="templates/js/ajaxEvents.js"></script>
</body>

</html>