<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Book the Boardroom</h4>
            </div>
            <div class="modal-body">
                <form id='bookForm' name='bookForm' method='POST' action='index.php?page=book_ctrl'>
                    <div class="col-md-12">1. Booked for:</div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-12">2. I would like to book this meeting:</div>
                    <div class="col-md-4 bookItMonthWrapper">
                        <select class="form-control bookItMonth">

                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control bookItDate">

                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control bookItYear">

                        </select>
                    </div>
                    <div class="col-md-12">3. Specify what the time and end of the meeting (This will be what people see
                        on the calendar.):
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp</div>
                    <div class="col-md-7">
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>1</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">4. Enter the specifics for the meeting (This wil be what people see when they
                        click on an event
                        link.):
                    </div>

                    <textarea class="form-control bookerTextArea" rows="3"></textarea>

                    <div class="col-md-12">5. Is this going to be a recurring event?</div>

                    <input id="recurring_off" type="radio" name="recurring" value='0' onClick="agreeRecurring(false)">
                    No<br/>
                    <input id="recurring_on" type="radio" name="recurring" value='on' checked
                           onClick="agreeRecurring(true)"> Yes<br/>

                    <div class="col-md-12">6. If it is recurring, specify weekly, bi-weekly or monthly.</div>
                    <input id="recursion_1" type="radio" name="recurring_result" value='7' checked
                           onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">
                    <span class="recurring"> weekly</span><br/>
                    <input id="recursion_2" type="radio" name="recurring_result" value='14' onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">bi-weekly<br/>
                    <input id="recursion_3" type="radio" name="recurring_result" value='28' onclick="durationCntrl()"
                           onfocus="set_border(document.getElementById('zduration'))">monthly<br/>

                    <span id="duration" name="duration" class="nonwarning">duration (max 4 weeks)</span>

                    <input id="num_duration" value='1' type="number" min="1" max="4" name="num_duration"
                           class="fielddis" maxlength="1" size="4"
                           onfocus="set_border(this);"/>

                    <input class='bookSubmit' type='submit' value='Book' name='bookIt'>
                    <input class='bookSubmit' type='reset' value='Reset'>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>